* {
    margin: 0;
    font-family: 'Inter';
}

h1 {
    text-decoration: none;
    font-weight: 700;
    font-size: 70px;
    line-height: 100px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.side-tag {
    padding-left: 150px;
}

p {
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 60px;

}

.top-banner {
    width: 100%;
    background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/donation2.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(#FF5959, tomato);
    padding: 15px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    margin-left: 250px;
}

.top-div {
    position: absolute;
    width: 691px;
    height: 56px;
    left: 600px;
    top: 250px;

}